# vorlage_cfg.toml umbennen in cfg.toml

loglevel = 10

[weewx]
db = "sqlite"  #  "mysql" | "sqlite"

    [weewx.mysql]
    database = "<datenbankname>"
    user = "<username>"
    password = "<password>"
    host= "localhost"

    [weewx.sqlite]
    database = ":memory:"  # Path to database file or :memory:


[led]

# Mehrere Auszeiten m체ssen in eigenen Listen [] innerhalb der Gesamtliste definiert werden wie in der Vorlage.
# Keine Sekundenangabe! Kein Weglassen der Minuten. Wenn die LEDs 24h aktiv sein sollen [] schreiben
aus_zeiten = [["18:00", "20:00"], ["8:00", "2:00"]]

    #BCM Nummern!
    [led.1.pincfg]
    r = 1
    g = 2
    b = 3

    [led.2.pincfg]
    r = 4
    g = 5
    b = 6

    # Farbdefinition 0-1
    [led.1.farben]
    ok = [0.0, 1.0, 0.0]
    warnung = [0.0, 0.0, 1.0]
    kritisch = [1.0, 0.0, 0.0]
    no_data = [1.0, 1.0, 1.0]

    [led.2.farben]
    ok = [0.0, 1.0, 0.0]
    warnung = [0.0, 0.0, 1.0]
    kritisch = [1.0, 0.0, 0.0]
    no_data = [1.0, 1.0, 1.0]

    [led.mapping]
    # Eintragen der Zust채ndigen RGB LED
    temp_anzeige = "1"
    feuchte_anzeige = "2"


[spaltenname]
# Eintragen der zu vergleichenden WeeWx Archive Spaltennamen
temp_innen = "in_temp"
temp_aussen = "out_temp"
feuchte_innen = "in_humidity"
feuchte_aussen = "out_humidity"

[differenz]
    [differenz.temp]
    ok = -0.5  # bis
    warnung = 0.5
    hysterese = 0.2 # Z채hlt nur nach unten

    [differenz.feuchte]
    ok = -0.5 # bis
    warnung = 0.5
    hysterese = 0.2 # Z채hlt nur nach unten
